Datos/bin/Debug/Datos.dll
.vs/SistemaIntegrador/config/applicationhost.config
.vs/SistemaIntegrador/v16/.suo
Datos/bin/Debug/Datos.dll
Datos/bin/Debug/Datos.pdb
Datos/bin/Debug/Entidades.dll
Datos/bin/Debug/Entidades.pdb
Datos/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Datos/obj/Debug/Datos.csproj.CoreCompileInputs.cache
Datos/obj/Debug/Datos.csproj.FileListAbsolute.txt
Datos/obj/Debug/Datos.csprojAssemblyReference.cache
Datos/obj/Debug/Datos.dll
Datos/obj/Debug/Datos.pdb
Entidades/bin/Debug/Entidades.dll
Entidades/bin/Debug/Entidades.pdb
Entidades/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Entidades/obj/Debug/Entidades.csproj.CoreCompileInputs.cache
Entidades/obj/Debug/Entidades.csproj.FileListAbsolute.txt
Entidades/obj/Debug/Entidades.csprojAssemblyReference.cache
Entidades/obj/Debug/Entidades.dll
Entidades/obj/Debug/Entidades.pdb
Negocio/bin/Debug/Datos.dll
Negocio/bin/Debug/Datos.pdb
Negocio/bin/Debug/Entidades.dll
Negocio/bin/Debug/Entidades.pdb
Negocio/bin/Debug/Negocio.dll
Negocio/bin/Debug/Negocio.pdb
Negocio/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Negocio/obj/Debug/Negocio.csproj.CoreCompileInputs.cache
Negocio/obj/Debug/Negocio.csproj.FileListAbsolute.txt
Negocio/obj/Debug/Negocio.csprojAssemblyReference.cache
Negocio/obj/Debug/Negocio.dll
Negocio/obj/Debug/Negocio.pdb
SistemaIntegrador/bin/Datos.dll
SistemaIntegrador/bin/Datos.pdb
SistemaIntegrador/bin/Entidades.dll
SistemaIntegrador/bin/Entidades.pdb
SistemaIntegrador/bin/Negocio.dll
SistemaIntegrador/bin/Negocio.pdb
SistemaIntegrador/bin/SistemaIntegrador.dll
SistemaIntegrador/bin/SistemaIntegrador.pdb
SistemaIntegrador/bin/SqlMap.config
SistemaIntegrador/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SistemaIntegrador/obj/Debug/SistemaIntegrador.csproj.CoreCompileInputs.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.csproj.FileListAbsolute.txt
SistemaIntegrador/obj/Debug/SistemaIntegrador.csprojAssemblyReference.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.dll
SistemaIntegrador/obj/Debug/SistemaIntegrador.pdb
SistemaIntegrador/SqlMap.config
.vs/SistemaIntegrador/config/applicationhost.config
.vs/SistemaIntegrador/v16/.suo
.vs/SistemaIntegrador/v16/Server/sqlite3/db.lock
.vs/SistemaIntegrador/v16/Server/sqlite3/storage.ide
Datos/obj/Debug/Datos.csproj.CoreCompileInputs.cache
Datos/obj/Debug/Datos.csprojAssemblyReference.cache
Desembolsos/obj/Debug/Desembolsos.csproj.CoreCompileInputs.cache
Desembolsos/obj/Debug/Desembolsos.csprojAssemblyReference.cache
Entidades/obj/Debug/Entidades.csproj.CoreCompileInputs.cache
Entidades/obj/Debug/Entidades.csprojAssemblyReference.cache
Negocio/obj/Debug/Negocio.csproj.CoreCompileInputs.cache
Negocio/obj/Debug/Negocio.csprojAssemblyReference.cache
Pagos/obj/Debug/Pagos.csproj.CoreCompileInputs.cache
Pagos/obj/Debug/Pagos.csprojAssemblyReference.cache
Reportes/obj/Debug/Reportes.csproj.CoreCompileInputs.cache
Reportes/obj/Debug/Reportes.csprojAssemblyReference.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.csproj.CoreCompileInputs.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.csprojAssemblyReference.cache
*.dll
*.pdb
*.cache
*.log
*.log
*.dll
*.doc
*.docx
*.dll
*.pdb
*.txt
SistemaIntegrador/bin/Datos.pdb
SistemaIntegrador/bin/Entidades.dll
SistemaIntegrador/bin/Entidades.pdb
SistemaIntegrador/bin/Negocio.dll
SistemaIntegrador/bin/Negocio.pdb
SistemaIntegrador/bin/SistemaIntegrador.dll
SistemaIntegrador/bin/SistemaIntegrador.pdb
SistemaIntegrador/Log/logSI.log
SistemaIntegrador/obj/Debug/SistemaIntegrador.csproj.CoreCompileInputs.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.csproj.FileListAbsolute.txt
SistemaIntegrador/obj/Debug/SistemaIntegrador.csprojAssemblyReference.cache
SistemaIntegrador/obj/Debug/SistemaIntegrador.dll
SistemaIntegrador/obj/Debug/SistemaIntegrador.pdb
SistemaIntegrador/plugins/Datos.dll
SistemaIntegrador/plugins/Datos.pdb
SistemaIntegrador/plugins/Desembolsos.dll
SistemaIntegrador/plugins/Desembolsos.pdb
SistemaIntegrador/plugins/Entidades.dll
SistemaIntegrador/plugins/Entidades.pdb
SistemaIntegrador/plugins/Negocio.dll
SistemaIntegrador/plugins/Negocio.pdb
SistemaIntegrador/plugins/Pagos.dll
SistemaIntegrador/plugins/Pagos.pdb
SistemaIntegrador/plugins/Reportes.dll
SistemaIntegrador/plugins/Reportes.pdb
